* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "microsoft yahei";
  color: #333333; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  object-fit: cover; }

[data-scroll] {
  opacity: 0; }

section {
  padding-top: 90px; }
  section:first-child {
    padding-top: 0; }
  section:last-child {
    opacity: 1; }
  section > h4 {
    color: #06bf75;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding-bottom: 80px; }
    section > h4::after {
      content: '';
      display: block;
      width: 114px;
      height: 4px;
      border-radius: 2px;
      background: #cccccc;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 56px; }

.spop--info, .spop--error, .spop--warning, .spop--success {
  color: white; }

@keyframes down {
  0% {
    margin-top: -200px; }
  100% {
    opacity: 1;
    margin-top: 0; } }

@keyframes childNav {
  0% {
    margin-top: -50%;
    opacity: 0; }
  100% {
    margin-top: 0;
    opacity: 1; } }

@keyframes up {
  0% {
    opacity: 0;
    transform: translate(0px, 300px); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px); } }

.scroll {
  animation: up ease-out 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  display: block;
  opacity: 1; }

.nav-wrap {
  width: 100%;
  position: relative; }
  .nav-wrap img {
    width: 100%; }
  .nav-wrap .nav-background {
    background: #06bf75;
    width: 100%;
    height: 100px;
    z-index: 2;
    position: fixed;
    display: none; }
  .nav-wrap nav {
    animation: down ease-out 0.8s;
    animation-iteration-count: 1;
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -600px;
    min-width: 1200px;
    width: 1200px;
    background: #06bf75;
    border-radius: 6px;
    padding: 0 13px; }
    .nav-wrap nav:before, .nav-wrap nav:after {
      content: " ";
      display: table; }
    .nav-wrap nav:after {
      clear: both; }
    .nav-wrap nav .header {
      width: 196px;
      height: 120px;
      float: left;
      background: url("../img/logo-white.png") 50% 50% no-repeat;
      margin-right: 118px; }
    .nav-wrap nav .nav {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: center; }
      .nav-wrap nav .nav .nav-item {
        padding: 0 18px 0 10px;
        line-height: 120px;
        position: relative;
        cursor: pointer;
        width: auto;
        margin-right: 10px; }
        .nav-wrap nav .nav .nav-item:first-child {
          margin-right: 14px;
          padding: 0; }
        .nav-wrap nav .nav .nav-item > a {
          padding-bottom: 4px;
          color: #333333; }
          .nav-wrap nav .nav .nav-item > a i {
            font-size: 10px;
            display: none;
            position: absolute;
            top: 1px;
            right: 0; }
        .nav-wrap nav .nav .nav-item .children-list {
          display: none;
          position: absolute;
          background: white;
          left: 0;
          width: 148px;
          top: 68px;
          border-top: 2px solid #83dfba;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.65);
          padding: 20px; }
          .nav-wrap nav .nav .nav-item .children-list > li {
            line-height: 1; }
          .nav-wrap nav .nav .nav-item .children-list > li + li {
            margin-top: 18px; }
          .nav-wrap nav .nav .nav-item .children-list > li > a {
            color: #333333;
            cursor: pointer;
            font-size: 14px; }
            .nav-wrap nav .nav .nav-item .children-list > li > a:hover {
              color: #06bf75; }
        .nav-wrap nav .nav .nav-item:hover > a {
          color: white;
          font-weight: 700;
          cursor: pointer; }
          .nav-wrap nav .nav .nav-item:hover > a i {
            color: white; }
      .nav-wrap nav .nav .high-light > a {
        color: white;
        font-weight: 700;
        cursor: pointer; }
        .nav-wrap nav .nav .high-light > a i {
          color: white; }
      .nav-wrap nav .nav .active .children-list {
        display: block;
        animation: childNav .3s; }
    .nav-wrap nav .language {
      position: absolute;
      right: 20px;
      top: 46px;
      font-size: 0; }
      .nav-wrap nav .language a {
        font-size: 16px;
        width: 40px;
        line-height: 24px;
        color: #333333;
        background: #999999;
        display: inline-block;
        text-align: center;
        cursor: pointer; }
      .nav-wrap nav .language .active {
        background: white;
        color: #06bf75; }
  .nav-wrap .swiper-container {
    width: 100%;
    height: 680px; }
    .nav-wrap .swiper-container .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #999999;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .nav-wrap .swiper-container .swiper-slide img {
        width: 100%;
        height: 840px; }
    .nav-wrap .swiper-container .swiper-pagination-bullet {
      width: 16px;
      height: 8px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #000;
      opacity: 1;
      background: white;
      border-radius: 2px;
      z-index: 1;
      position: relative;
      top: -1px; }
    .nav-wrap .swiper-container .swiper-pagination-bullet-active {
      color: #fff;
      background: #06bf75; }
    .nav-wrap .swiper-container .swiper-pagination-bullets {
      left: 50%;
      width: auto;
      transform: translateX(-50%);
      background: #686b6e;
      padding: 5px;
      border-radius: 4px;
      bottom: 48px; }
    .nav-wrap .swiper-container .swiper-button-next {
      background: url("../img/icon.png") -176px -116px no-repeat;
      width: 39px;
      height: 52px;
      right: 0; }
      .nav-wrap .swiper-container .swiper-button-next:hover {
        background: url("../img/icon.png") -281px -116px no-repeat; }
    .nav-wrap .swiper-container .swiper-button-prev {
      background: url("../img/icon.png") -77px -116px no-repeat;
      width: 39px;
      height: 52px;
      left: 0; }
      .nav-wrap .swiper-container .swiper-button-prev:hover {
        background: url("../img/icon.png") -386px -116px no-repeat; }

.suspension nav {
  position: fixed;
  top: 0; }
  .suspension nav .header {
    height: 100px; }
  .suspension nav .nav {
    margin-bottom: 0; }
  .suspension nav .nav .nav-item {
    line-height: 100px; }
  .suspension nav .language {
    top: 38px; }

.feature ul {
  display: flex;
  justify-content: center; }
  .feature ul > li {
    margin: 0 17px; }
  .feature ul > li > a {
    width: 274px;
    height: 288px;
    border: 1px solid #cccccc;
    display: inline-block;
    position: relative;
    border-radius: 2px; }
    .feature ul > li > a .icon {
      width: 274px;
      height: 132px; }
    .feature ul > li > a .icon-item1 {
      background: url("../img/icon.png") -80px -446px no-repeat; }
    .feature ul > li > a .icon-item2 {
      background: url("../img/icon.png") -397px -446px no-repeat; }
    .feature ul > li > a .icon-item3 {
      background: url("../img/icon.png") -1012px -446px no-repeat; }
    .feature ul > li > a .icon-item4 {
      background: url("../img/icon.png") -699px -446px no-repeat; }
    .feature ul > li > a .info {
      padding: 0 44px 28px;
      color: inherit; }
      .feature ul > li > a .info h5 {
        font-size: 20px;
        text-align: center;
        padding-top: 8px;
        color: inherit; }
      .feature ul > li > a .info p {
        padding-top: 16px;
        text-align: center;
        line-height: 25px;
        color: inherit;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        overflow: hidden;
        word-break: break-all;
        max-height: 93px; }
  .feature ul .active a {
    background: #06bf75;
    color: white;
    cursor: pointer;
    border: 1px solid white; }
  .feature ul .active .icon-item1 {
    background: url("../img/icon.png") -80px -250px no-repeat; }
  .feature ul .active .icon-item2 {
    background: url("../img/icon.png") -397px -250px no-repeat; }
  .feature ul .active .icon-item3 {
    background: url("../img/icon.png") -704px -250px no-repeat; }
  .feature ul .active .icon-item4 {
    background: url("../img/icon.png") -1008px -250px no-repeat; }

.application ul {
  margin: 0 auto;
  width: 1200px;
  min-width: 1200px; }
  .application ul:before, .application ul:after {
    content: " ";
    display: table; }
  .application ul:after {
    clear: both; }

.application li {
  float: left; }
  .application li:nth-child(4n) a {
    margin-right: 0; }

.application a {
  width: 296px;
  height: 220px;
  margin: 2px;
  display: inline-block;
  position: relative; }

.application img {
  width: 294px;
  height: 220px; }

.application .application-item {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 274px;
  height: 190px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid white; }
  .application .application-item h6, .application .application-item p, .application .application-item i {
    text-align: center;
    color: white; }
  .application .application-item h6 {
    font-size: 18px; }
  .application .application-item p {
    margin-top: 8px;
    font-size: 16px; }
  .application .application-item i {
    background: url("../img/icon.png") -663px -118px no-repeat;
    height: 15px;
    width: 26px;
    margin-top: 20px; }

.application .active > a {
  cursor: pointer; }
  .application .active > a:before {
    content: '';
    background: #06bf75;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
  .application .active > a .application-item {
    display: flex; }

.introduction .introduction-content {
  background: url("../img/introduction.jpg") 50% 50% no-repeat;
  width: 100%;
  height: 630px;
  background-size: cover;
  position: relative; }
  .introduction .introduction-content p {
    width: 50%;
    max-height: 84px;
    color: white;
    line-height: 28px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
    position: absolute;
    bottom: 174px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }

.new ul {
  width: 1200px;
  margin: 0 auto; }
  .new ul:before, .new ul:after {
    content: " ";
    display: table; }
  .new ul:after {
    clear: both; }
  .new ul li {
    width: 540px;
    float: left;
    margin-right: 60px;
    margin-bottom: 60px; }
  .new ul .new-item {
    display: inline-block; }
    .new ul .new-item img {
      width: 200px;
      height: 150px;
      float: left;
      margin-right: 14px; }
    .new ul .new-item:hover {
      cursor: pointer; }
  .new ul .new-content {
    margin-left: 14px; }
    .new ul .new-content h5 {
      padding: 4px 0 10px;
      font-size: 18px;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 310px; }
    .new ul .new-content p {
      line-height: 28px;
      color: #666666;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      overflow: hidden;
      word-break: break-all;
      font-size: 16px;
      max-height: 80px; }
    .new ul .new-content .new-info {
      font-size: 14px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between; }
      .new ul .new-content .new-info .time {
        color: #666666; }
      .new ul .new-content .new-info .more {
        color: #06bf75;
        position: relative;
        padding-right: 14px; }
        .new ul .new-content .new-info .more:before {
          content: '';
          background: url("../img/icon.png") -848px -118px no-repeat;
          width: 26px;
          height: 16px;
          position: absolute;
          left: -32px;
          top: 4px; }

footer {
  margin-top: 50px;
  height: 316px;
  width: 100%;
  background-size: cover;
  background: url("../img/footer.jpg") 50% 50%; }
  footer .footer-wrap {
    max-width: 1200px;
    width: 1200px;
    padding: 64px 0 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  footer .footer-content {
    color: #999999;
    width: 360px; }
    footer .footer-content h4 {
      color: inherit;
      font-size: 18px;
      position: relative;
      left: 90px;
      font-weight: 700; }
      footer .footer-content h4:before {
        content: '';
        background: url("../img/logo-no-text.png") no-repeat;
        background-size: 84px 20px;
        width: 84px;
        height: 20px;
        position: absolute;
        left: -90px; }
    footer .footer-content .contact {
      margin: 20px 0 24px 0;
      position: relative;
      left: 8px; }
      footer .footer-content .contact li {
        color: #999999;
        margin-bottom: 10px;
        font-size: 14px;
        position: relative;
        left: 18px; }
      footer .footer-content .contact .contact-item1:before {
        content: '';
        background: url("../img/icon.png") -68px -620px no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        left: -26px; }
      footer .footer-content .contact .contact-item2:before {
        content: '';
        background: url("../img/icon.png") -68px -649px no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        left: -26px; }
      footer .footer-content .contact .contact-item3:before {
        content: '';
        background: url("../img/icon.png") -68px -675px no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        left: -26px; }
      footer .footer-content .contact .contact-item4:before {
        content: '';
        background: url("../img/icon.png") -68px -704px no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        left: -26px; }
      footer .footer-content .contact .contact-item5:before {
        content: '';
        background: url("../img/icon.png") -68px -733px no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        left: -26px; }
    footer .footer-content .map {
      display: flex; }
      footer .footer-content .map li, footer .footer-content .map a {
        color: #999999; }
      footer .footer-content .map li + li {
        margin-left: 20px;
        position: relative; }
        footer .footer-content .map li + li:before {
          content: '';
          width: 1px;
          height: 10px;
          position: absolute;
          background: #999999;
          top: 50%;
          transform: translateY(-50%);
          left: -10px; }
      footer .footer-content .map a {
        font-size: 14px; }
        footer .footer-content .map a:hover {
          color: #cccccc;
          cursor: pointer; }
  footer .QR {
    padding-top: 44px;
    display: flex;
    align-items: flex-end;
    flex-direction: column; }
    footer .QR h4 {
      color: #999999;
      text-align: center;
      width: 100px;
      margin-bottom: 10px; }
    footer .QR img {
      width: 100px; }
    footer .QR .rights {
      color: #999999;
      margin-top: 21px;
      font-size: 14px; }

.page-wrap .bread-nav {
  margin: 0 auto;
  width: 1200px;
  padding: 30px 20px;
  box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.45);
  position: relative;
  top: -40px;
  background: white; }
  .page-wrap .bread-nav .position {
    font-size: 14px; }
    .page-wrap .bread-nav .position .nav-item {
      cursor: pointer;
      font-size: 14px; }
      .page-wrap .bread-nav .position .nav-item:last-child {
        color: #06bf75; }
      .page-wrap .bread-nav .position .nav-item:not(:last-child):after {
        content: '>';
        padding-left: 7px; }
  .page-wrap .bread-nav .next {
    width: 260px;
    line-height: 83px;
    background: #06bf75;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0 0 22px;
    font-size: 14px; }
    .page-wrap .bread-nav .next .next-title {
      padding-left: 56px;
      max-width: 171px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: absolute;
      display: inline-block;
      cursor: pointer;
      font-size: 14px; }
      .page-wrap .bread-nav .next .next-title:before {
        content: '';
        background: url("../img/icon.png") -4px -3px no-repeat;
        width: 26px;
        height: 20px;
        position: absolute;
        top: 29px;
        left: 19px; }

.page-wrap h4 {
  color: #06bf75;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  position: relative;
  padding-bottom: 66px; }
  .page-wrap h4::after {
    content: '';
    display: block;
    width: 114px;
    height: 4px;
    border-radius: 2px;
    background: #cccccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 56px; }

.page-wrap .page-content {
  max-width: 1200px;
  margin: 0px auto 40px;
  line-height: 28px; }
  .page-wrap .page-content:before, .page-wrap .page-content:after {
    content: " ";
    display: table; }
  .page-wrap .page-content:after {
    clear: both; }

.intro .intro-item1 {
  height: 370px;
  margin-bottom: 40px;
  position: relative; }
  .intro .intro-item1 img {
    position: absolute;
    right: 0;
    z-index: -1; }

.intro .intro-item2 {
  position: relative; }
  .intro .intro-item2 img {
    position: absolute;
    z-index: -1;
    max-width: 680px;
    top: 30px; }
  .intro .intro-item2 .content {
    max-width: 484px;
    float: right; }

.culture ul {
  width: 1048px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  height: 348px; }
  .culture ul > li {
    max-width: 220px;
    text-align: center;
    width: 168px; }
    .culture ul > li h5 {
      color: white;
      font-size: 38px;
      padding-top: 65px;
      padding-bottom: 98px; }
    .culture ul > li p {
      width: 220px;
      margin-left: -26px;
      font-size: 18px;
      line-height: 35px; }
  .culture ul .culture-item1 {
    background: url("../img/company-culture.jpg") no-repeat; }
  .culture ul .culture-item2 {
    background: url("../img/company-culture.jpg") -303px 0 no-repeat; }
  .culture ul .culture-item3 {
    background: url("../img/company-culture.jpg") -589px 0 no-repeat; }
  .culture ul .culture-item4 {
    background: url("../img/company-culture.jpg") -874px 0 no-repeat; }

.culture .company-img {
  margin-top: 110px; }

.development .page-content {
  position: relative; }
  .development .page-content:before {
    content: '';
    position: absolute;
    top: -38px;
    width: 4px;
    background: #cccccc;
    left: 50%;
    margin-left: -2px;
    height: 100%; }
  .development .page-content .development-item {
    clear: both;
    width: 50%;
    position: relative; }
    .development .page-content .development-item .development-header {
      position: relative;
      margin-top: 3px; }
    .development .page-content .development-item h5, .development .page-content .development-item .icon-play {
      color: #06bf75;
      font-size: 20px; }
    .development .page-content .development-item .icon-play {
      position: absolute;
      top: 1px; }
    .development .page-content .development-item ul {
      position: relative;
      top: -26px; }
      .development .page-content .development-item ul li {
        font-size: 18px;
        line-height: 34px;
        color: #4e4e4e; }
    .development .page-content .development-item:nth-child(even) {
      float: left;
      text-align: right;
      padding-right: 40px; }
      .development .page-content .development-item:nth-child(even):before {
        content: '';
        height: 36px;
        width: 36px;
        border-radius: 50%;
        position: absolute;
        right: -18px;
        top: 0;
        background: #cccccc; }
      .development .page-content .development-item:nth-child(even):after {
        content: '';
        height: 22px;
        width: 22px;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        right: -11px;
        background: white; }
      .development .page-content .development-item:nth-child(even) .development-header .icon-play {
        right: 70px;
        transform: rotate(180deg);
        display: inline-block; }
      .development .page-content .development-item:nth-child(even) ul {
        left: -120px; }
        .development .page-content .development-item:nth-child(even) ul li {
          max-width: 400px;
          left: 162px;
          position: relative; }
          .development .page-content .development-item:nth-child(even) ul li:before {
            content: "\e654";
            font-family: "iconfont" !important;
            font-style: normal;
            font-size: 40px;
            position: absolute;
            right: -32px;
            top: -2px;
            color: #999999; }
    .development .page-content .development-item:nth-child(odd) {
      float: right;
      text-align: left;
      padding-left: 40px; }
      .development .page-content .development-item:nth-child(odd):before {
        content: '';
        height: 36px;
        width: 36px;
        border-radius: 50%;
        position: absolute;
        left: -18px;
        top: 0;
        background: #cccccc; }
      .development .page-content .development-item:nth-child(odd):after {
        content: '';
        height: 22px;
        width: 22px;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        left: -11px;
        background: white; }
      .development .page-content .development-item:nth-child(odd) .development-header .icon-play {
        left: 70px; }
      .development .page-content .development-item:nth-child(odd) ul {
        right: -120px; }
        .development .page-content .development-item:nth-child(odd) ul li {
          position: relative;
          max-width: 400px; }
          .development .page-content .development-item:nth-child(odd) ul li:before {
            content: "\e654";
            font-family: "iconfont" !important;
            font-style: normal;
            font-size: 40px;
            position: absolute;
            left: -34px;
            top: -2px;
            color: #999999; }

.apply .apply-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .apply .apply-wrap li {
    position: relative;
    margin-bottom: 58px;
    margin-left: 20px; }
    .apply .apply-wrap li:first-child {
      margin: 0; }
    .apply .apply-wrap li:nth-child(4n+1) {
      margin: 0; }
    .apply .apply-wrap li img {
      width: 285px;
      height: 197px; }
    .apply .apply-wrap li h5, .apply .apply-wrap li p {
      text-align: center; }
    .apply .apply-wrap li h5 {
      font-size: 20px;
      font-weight: 700;
      margin-top: 10px;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 285px; }
    .apply .apply-wrap li .intro {
      display: none;
      width: 285px;
      height: 197px;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      left: 0; }
      .apply .apply-wrap li .intro p {
        position: absolute;
        top: 74px;
        left: 50%;
        transform: translateX(-50%);
        width: 204px;
        color: #06bf75;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-all; }
      .apply .apply-wrap li .intro .arrow {
        background: url("../img/icon.png") -756px -118px no-repeat;
        position: absolute;
        top: 144px;
        left: 50%;
        transform: translateX(-50%);
        width: 26px;
        height: 16px; }
  .apply .apply-wrap .active {
    cursor: pointer; }
    .apply .apply-wrap .active .intro {
      display: block; }
    .apply .apply-wrap .active p, .apply .apply-wrap .active h5 {
      color: #06bf75; }

.new-page .new-banner:before, .new-page .new-banner:after {
  content: " ";
  display: table; }

.new-page .new-banner:after {
  clear: both; }

.new-page .new-item {
  display: flex;
  width: 1200px;
  margin-bottom: 30px; }
  .new-page .new-item a {
    display: flex;
    width: 1200px; }
  .new-page .new-item img {
    width: 150px;
    height: 110px; }
  .new-page .new-item .new-text {
    flex-grow: 1;
    margin-left: 24px; }
    .new-page .new-item .new-text h5 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 620px; }
    .new-page .new-item .new-text p {
      line-height: 28px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      overflow: hidden;
      word-break: break-all;
      width: 620px;
      color: #858585;
      height: 52px; }
  .new-page .new-item .new-info {
    display: flex;
    width: 136px;
    flex-direction: column;
    justify-content: center;
    background: #e6e6e6;
    text-align: center;
    left: 0; }
    .new-page .new-item .new-info .more {
      color: #06bf75;
      position: relative;
      left: 12px; }
      .new-page .new-item .new-info .more:before {
        content: '';
        background: url("../img/icon.png") -848px -118px no-repeat;
        position: absolute;
        width: 26px;
        height: 16px;
        left: 6px;
        top: 6px; }
    .new-page .new-item .new-info .time {
      color: #9e9e9e; }
  .new-page .new-item:first-child {
    position: relative;
    width: auto;
    float: left;
    margin-right: 58px; }
    .new-page .new-item:first-child a {
      width: auto; }
    .new-page .new-item:first-child img {
      width: 768px;
      height: 492px; }
    .new-page .new-item:first-child .new-text {
      position: absolute;
      height: 185px;
      width: 767px;
      background: rgba(0, 0, 0, 0.75);
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 26px 28px; }
      .new-page .new-item:first-child .new-text h5 {
        padding: 4px 0 10px;
        font-size: 18px;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #06bf75;
        max-width: 310px;
        margin: 0; }
      .new-page .new-item:first-child .new-text p {
        line-height: 28px;
        color: #cccccc;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-all;
        font-size: 16px;
        width: auto; }
    .new-page .new-item:first-child .new-info {
      font-size: 14px;
      margin-top: 10px;
      display: flex;
      width: 767px;
      justify-content: space-between;
      flex-direction: row-reverse;
      position: absolute;
      bottom: 26px;
      background: none;
      padding: 0 28px; }
      .new-page .new-item:first-child .new-info .time {
        color: #cccccc; }
      .new-page .new-item:first-child .new-info .more {
        color: #06bf75;
        position: relative;
        padding-right: 14px; }
        .new-page .new-item:first-child .new-info .more:before {
          content: '';
          background: url("../img/icon.png") -848px -118px no-repeat;
          width: 26px;
          height: 16px;
          position: absolute;
          left: -32px;
          top: 8px; }
  .new-page .new-item:nth-child(2) {
    position: relative;
    width: auto;
    float: left;
    margin-bottom: 25px; }
    .new-page .new-item:nth-child(2) a {
      width: auto; }
    .new-page .new-item:nth-child(2) img {
      width: 374px;
      height: 234px; }
    .new-page .new-item:nth-child(2) .new-text {
      position: absolute;
      height: 142px;
      width: 373px;
      background: rgba(0, 0, 0, 0.75);
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 6px 18px; }
      .new-page .new-item:nth-child(2) .new-text h5 {
        margin: 0;
        padding: 4px 0 6px;
        font-size: 18px;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 310px;
        color: #06bf75; }
      .new-page .new-item:nth-child(2) .new-text p {
        line-height: 28px;
        color: #cccccc;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-all;
        font-size: 16px;
        width: auto; }
    .new-page .new-item:nth-child(2) .new-info {
      font-size: 14px;
      margin-top: 10px;
      display: flex;
      width: 373px;
      justify-content: space-between;
      flex-direction: row-reverse;
      position: absolute;
      bottom: 14px;
      background: none;
      padding: 0 16px; }
      .new-page .new-item:nth-child(2) .new-info .time {
        color: #cccccc; }
      .new-page .new-item:nth-child(2) .new-info .more {
        color: #06bf75;
        position: relative;
        padding-right: 14px; }
        .new-page .new-item:nth-child(2) .new-info .more:before {
          content: '';
          background: url("../img/icon.png") -848px -118px no-repeat;
          width: 26px;
          height: 16px;
          position: absolute;
          left: -32px;
          top: 8px; }
  .new-page .new-item:nth-child(3) {
    position: relative;
    width: auto;
    float: left; }
    .new-page .new-item:nth-child(3) a {
      width: auto; }
    .new-page .new-item:nth-child(3) img {
      width: 374px;
      height: 234px; }
    .new-page .new-item:nth-child(3) .new-text {
      position: absolute;
      height: 142px;
      width: 373px;
      background: rgba(0, 0, 0, 0.75);
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 6px 18px; }
      .new-page .new-item:nth-child(3) .new-text h5 {
        margin: 0;
        padding: 4px 0 6px;
        font-size: 18px;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 310px;
        color: #06bf75; }
      .new-page .new-item:nth-child(3) .new-text p {
        line-height: 28px;
        color: #cccccc;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-all;
        font-size: 16px;
        width: auto; }
    .new-page .new-item:nth-child(3) .new-info {
      font-size: 14px;
      margin-top: 10px;
      display: flex;
      width: 373px;
      justify-content: space-between;
      flex-direction: row-reverse;
      position: absolute;
      bottom: 14px;
      background: none;
      padding: 0 16px; }
      .new-page .new-item:nth-child(3) .new-info .time {
        color: #cccccc; }
      .new-page .new-item:nth-child(3) .new-info .more {
        color: #06bf75;
        position: relative;
        padding-right: 14px; }
        .new-page .new-item:nth-child(3) .new-info .more:before {
          content: '';
          background: url("../img/icon.png") -848px -118px no-repeat;
          width: 26px;
          height: 16px;
          position: absolute;
          left: -32px;
          top: 8px; }
  .new-page .new-item:hover {
    cursor: pointer; }

.new-page .new-wrap:before, .new-page .new-wrap:after {
  content: " ";
  display: table; }

.new-page .new-wrap:after {
  clear: both; }

.new-page .new-wrap .active .new-text h5 {
  color: #06bf75; }

.new-page .new-wrap .active .new-info {
  background: #06bf75; }
  .new-page .new-wrap .active .new-info .more {
    color: white; }
    .new-page .new-wrap .active .new-info .more:before {
      content: '';
      background: url("../img/icon.png") -938px -118px no-repeat;
      position: absolute;
      width: 26px;
      height: 16px;
      left: 6px;
      top: 6px; }
  .new-page .new-wrap .active .new-info .time {
    color: white; }

.new-content-page .new-time {
  color: #999999; }

.new-content-page h4 {
  color: #333333; }

.new-content-page .new-time {
  text-align: center;
  position: relative;
  top: -22px; }

.recruitment-page .recruitment-list {
  padding: 0 30px; }
  .recruitment-page .recruitment-list li {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 60px; }
    .recruitment-page .recruitment-list li:first-child .recruitment-item-header {
      margin-top: 0; }
  .recruitment-page .recruitment-list .recruitment-item-header {
    margin: 60px 0 20px 0;
    display: flex;
    font-size: 18px; }
    .recruitment-page .recruitment-list .recruitment-item-header h5 {
      font-size: 18px;
      width: 584px;
      margin: 0;
      position: relative;
      top: 3px; }
    .recruitment-page .recruitment-list .recruitment-item-header .describe-open {
      color: #06bf75;
      position: relative;
      cursor: pointer;
      display: none;
      width: 166px; }
      .recruitment-page .recruitment-list .recruitment-item-header .describe-open:before {
        content: '';
        background: url("../img/icon.png") -1180px -118px no-repeat;
        position: absolute;
        height: 16px;
        width: 17px;
        left: -20px;
        top: 6px; }
    .recruitment-page .recruitment-list .recruitment-item-header .describe-close {
      color: #06bf75;
      position: relative;
      cursor: pointer;
      width: 166px; }
      .recruitment-page .recruitment-list .recruitment-item-header .describe-close:before {
        content: '';
        background: url("../img/icon.png") -1180px -118px no-repeat;
        position: absolute;
        height: 16px;
        width: 17px;
        left: -20px;
        top: 6px;
        transform: rotate(180deg); }
    .recruitment-page .recruitment-list .recruitment-item-header .needNumber {
      width: 118px; }
    .recruitment-page .recruitment-list .recruitment-item-header .time {
      width: 150px; }
    .recruitment-page .recruitment-list .recruitment-item-header .apply {
      border-radius: 4px;
      background: #06bf75;
      padding: 4px 18px 4px 36px;
      display: inline-block;
      position: relative;
      top: -6px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      overflow: hidden;
      text-decoration: none;
      height: 36px; }
      .recruitment-page .recruitment-list .recruitment-item-header .apply:before {
        content: '';
        position: absolute;
        background: url("../img/icon.png") -1260px -118px no-repeat;
        height: 20px;
        width: 20px;
        top: 9px;
        left: 13px; }
    .recruitment-page .recruitment-list .recruitment-item-header div {
      color: #999999; }
  .recruitment-page .recruitment-list .recruitment-content-detail {
    color: #333333;
    display: none; }
  .recruitment-page .recruitment-list .recruitment-content-brief {
    color: #666666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
    max-height: 84px;
    width: 644px; }

.product-page .product-content {
  margin-top: 0 !important;
  width: 872px;
  border-radius: 6px;
  border: 6px solid #06bf75;
  padding: 52px 100px 52px 140px;
  position: relative;
  left: 145px; }
  .product-page .product-content .product-logo {
    position: absolute;
    left: -256px;
    top: 100px;
    width: 350px; }
  .product-page .product-content .product-title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 28px; }

.product-page .product-info {
  width: 1050px;
  height: 280px;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  left: 40px;
  display: flex; }
  .product-page .product-info li {
    width: 295px;
    height: 256px;
    text-align: center;
    padding: 175px 30px 0;
    color: white;
    font-size: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all; }
  .product-page .product-info li + li {
    margin-left: 70px; }
  .product-page .product-info .environment {
    background: url("../img/product.png") no-repeat;
    background-size: cover; }
  .product-page .product-info .hot {
    background: url("../img/product.png") -334px no-repeat;
    background-size: cover; }
  .product-page .product-info .life {
    background: url("../img/product.png") -664px no-repeat;
    background-size: cover; }

.product-page .product-other {
  width: 1050px;
  height: 280px;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  left: 40px;
  display: flex; }
  .product-page .product-other li {
    position: relative;
    height: 256px;
    width: 295px;
    float: left; }
  .product-page .product-other li + li {
    margin-left: 70px; }
  .product-page .product-other img {
    width: 295px;
    height: 256px;
    z-index: -1;
    position: absolute; }
  .product-page .product-other p {
    position: absolute;
    top: 180px;
    color: white;
    font-size: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
    width: 235px;
    height: 66px;
    text-align: center;
    left: 30px; }

.paging {
  display: flex;
  justify-content: center; }
  .paging > a {
    display: inline-block;
    color: #cccccc; }
  .paging .active {
    color: #06bf75;
    cursor: pointer; }
  .paging .page {
    display: flex;
    justify-content: center; }
    .paging .page li {
      padding: 0 17px; }
      .paging .page li:first-child {
        padding-left: 34px; }
      .paging .page li:last-child {
        padding-right: 34px; }
    .paging .page li a {
      cursor: pointer;
      color: #cccccc; }
    .paging .page .active a {
      cursor: auto;
      color: #333333; }

#resume .modal-body {
  font-size: 12px; }
  #resume .modal-body input {
    font-size: inherit;
    vertical-align: top; }
  #resume .modal-body .form-line {
    font-size: inherit;
    margin-top: 8px; }
    #resume .modal-body .form-line input {
      height: 25px; }

#resume .btn-primary {
  background: #06bf75;
  border: none; }
